@page "{id}"
@model DetailsModel

@{
    ViewData["Title"] = $"Configuration Details: {Model.Id}";
}

<h2>
    @ViewData["Title"]
</h2>
<hr/>
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <dl class="row">
            @foreach (var property in Model.Configuration.GetType().GetProperties())
            {
                <dt class="col-sm-3 text-muted">
                    @property.Name
                </dt>
                <dd class="col-sm-9 text-truncate" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="@property.GetValue(Model.Configuration)">
                    @property.GetValue(Model.Configuration)
                </dd>
            }
        </dl>
    </div>
</div>

<div class="text-end">
    <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
</div>
