@page "{gameName}"
@model WebApp.Pages.Games.EditModel

@{
    ViewData["Title"] = $"Edit Game: {Model.GameName}";
}

<h2>
    @ViewData["Title"]
</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger no-bullet"></div>

            <div class="form-group">
                <label for="NewName" class="control-label">New name for the game:</label>
                <input type="text" id="NewName" value="@Model.GameName" name="NewName" class="form-control" />
                <span asp-validation-for="NewName" class="text-danger no-bullet"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

<div class="text-start">
    <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
